body {
    /*background-color: #fbf6ea;*/
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

.subtitle {
    color: #999999;
}

/* Buttons */
.btn-primary {
    background-color: #5E5E5E;
    border-color: #5E5E5E;
}

.btn-primary:active {
    background-color: #999999;
    border-color: #999999;
}

.btn-primary:hover {
    background-color: #999999;
    border-color: #999999;
}

.btn-primary:focus {
    background-color: #999999;
    border-color: #999999;
}

.btn-primary[disabled] {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: rgb(155, 164, 216);
}

.no-pad {
    padding: 0;
}

.pad-bot-15 {
    padding-bottom: 15px;
}

.pad-top-15 {
    padding-top: 15px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.home-panel {
    padding: 25px;
}

.center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-align {
    max-height: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    padding: 0px 10% !important;
    margin-top: 60px !important;
}

#main {
    margin-bottom: 40px;
}

/* ========== LOGIN PAGE ========== */

.panel {
    background-color: #D6D6D6;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #999999;
}

.panel button {
    float: right;
}

.circle {
    position: absolute;
    z-index: -1;
}

.circle svg:not(:root) {
    overflow: visible;
}

#circle1 {
    top: 100%;
    left: 100%;
}

#circle1 circle {
    fill: #bcc8f1;
    r: 100;
}

#circle2 {
    top: 90%;
    left: 90%;
}

#circle2 circle {
    fill: #bce8f1;
    r: 60;
}

#circle3 {
    top: 0;
    left: 0;
}

#circle3 circle {
    fill: #ffff99;
    r: 100;
}

#circle4 {
    top: 10%;
    left: 10%;
}

#circle4 circle {
    fill: #74b974;
    r: 60;
}

/* ========== END LOGIN PAGE ========== */

/* ========== DASHBOARD PAGE ========== */

.chart-section {
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin: 10px 0;
    padding: 20px 0;
}

#checkIns-list {
    margin: 0 auto;
}

.checkIn-item {
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
}

.positive {
    color: #66BB6A;
}

.neutral {
    color: #5C6BC0;
}

.negative {
    color: #ef5350;
}

/* ========== END DASHBOARD PAGE ========== */

/* ========== FOOTER PAGE ========== */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #F8F8F8;
    border: 1px solid #E6E6E6;
}

/* ========== FOOTER PAGE ========== */